body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div {
  margin: 0;
  padding: 0;
}
#image {
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
